div.playing-card {
	position: absolute;
	transition: top 0.5s, left 0.5s;
	width: 10%;
}

div.playing-card img {
	width: 100%;
}

body {
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
}

#alertOverlay {
	border-radius: 15px;
	margin: 5px;
	padding: 16px;
	box-sizing: border-box;

	/*https://stackoverflow.com/questions/35990304/how-to-position-overlay-fixed-div-to-the-center-with-css*/
	position:fixed;
	top:300px;
	left:50%;
	transform:translate(-50%, -50%);
	z-index: 10000;
	border: 3px solid #743f39;

	width:480px;
	height:120px;
	font-size:48px;
	background-color: #ffeecc;
	
	display: flex;
	justify-content: center;
	align-items: center;
	cursor:pointer; 
	user-select: none;
	font-variant: small-caps;
}

#autospeeddiv{
	float: right;
}

#autospeedrange{
	width: 150px;
}

#wrapper{
	position: relative;
	margin: auto;
}

#main{
	position: absolute;
	width: 600px;
	height: 600px;
	box-sizing: border-box;
}

#graphs{
	position: absolute;
	width: 300px;
	height: 600px;
	left: 600px;
	background-color: #E6CFB8;
	padding: 5px;
	box-sizing: border-box;
}

#againbuttonslist {
	list-style-type: none; /* Remove bullets */
}

#againbuttonslist button {
	width: 200px;
}

#gobutton, #stopbutton {
	width: 200px;
	display: block;
	margin:auto;
}

form input[type="number"] {
	width: 100%;
	display:block;
	box-sizing: border-box;
	font-family: sans-serif;
}

#allstatslist {
	/*https://stackoverflow.com/questions/35990304/how-to-position-overlay-fixed-div-to-the-center-with-css*/
	position:absolute;
	width:100%;

	top:50%;
	transform:translate(0, -50%);
	font-size: 32px;
	text-align: center;
}